@import "tailwindcss";

:root {
  --theme-color: #3b82f6;
  --background-color: #ffffff;
  --text-color: #1f2937;
}
.task-card,
.task-card * {
  user-select: none;
}

.theme-blue {
  --theme-color: #3b82f6;
}
.theme-green {
  --theme-color: #10b981;
}
.theme-red {
  --theme-color: #ef4444;
}
.theme-purple {
  --theme-color: #8b5cf6;
}

.light {
  --background-color: #ffffff;
  --text-color: #1f2937;
}

.dark {
  --background-color: #1f2937;
  --text-color: #f3f4f6;
}
